// # importiamo il file che contiene i mixins
@use "./partials/mixins" as *;

// # importiamo il file che contiene le variables
@use "./partials/variables" as *;

// # importiamo il font
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  h1,
  h2,
  h3 {
    font-family: $font-primary;
  }

  h1 {
    font-size: 6rem;
    color: $color-header-title;
  }

  h2 {
    font-size: 5rem;
    color: $color-secondary-title;
  }

  h3 {
    font-size: 2.5rem;
    color: $color-button;
  }

  h4 {
    margin-bottom: 0;
    font-size: 1.1rem;
    color: $color-button;
  }

  h5 {
    font-size: 1rem;
    letter-spacing: 3px;
    color: $color-button;
  }

  p {
    color: $color-text-small;
    font-size: 1.2rem;
  }

  header p {
    font-size: 1.5rem;
    font-weight: 100;
    color: $color-secondary-title;
  }

  .services-section {
    background-image: url("/img/avadabarbers-about-introbackground.jpg");
    background-size: cover;
  }

  .product-section {
    background-image: url("/img/avadabarbers-reviewsbackground.jpg");
    height: 100vh;
    background-size: cover;
  }

  .blog-section {
    background-color: $bg-color-blog-section;

    h3 {
      font-size: 2rem;
    }
    .img-services {
      width: 70%;
    }
  }

  footer {
    .main-button {
      transform: scale(0.8);
    }
  }

  .bg-footer {
    background-color: $bg-color-footer;
  }
}
