// # COLORS
$color-button: #be9359;
$color-header-title: #dddddd;
$color-secondary-title: #b1b1b1;
$bg-color-blog-section: #f5f5f5;
$bg-color-footer: #121314;

// # FONT PRIMARY
$font-primary: "Abril Fatface", cursive;
